@font-face {
    font-family: "Botsmatic Demo";
    src: url("webfont/BotsmaticDemo.woff2") format("woff2"), url("webfont/BotsmaticDemo.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "000webfont";
    src: url("webfont/000webfont.woff2") format("woff2"), url("webfont/000webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Botsmatic Demo";
}
body {
    overflow-x: hidden;
    background: #2e5a89;
    min-height: 100vh;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li {
    list-style: none;
    margin-left: 20px;
}
#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active {
    background: #fff;
    color: #111;
}
section {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    overflow: hidden;
    font-size: 100px;
}
section img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.parallax {
    object-fit: cover; /* Fit the image within the container, maintaining aspect ratio */
    object-position: left;
    width: auto;
    height: 100%;
}
.image-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainbg-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainbg-wrapper img.mainbg {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
    transform-origin: bottom right;
}

#text-wrapper {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 100%; /* Take full width of the section */
    text-align: center; /* Center align the contents */
}

#text {
    color: #fff;
    font-size: 100%;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    line-height: 1; /* Adjust line-height for vertical centering */
}
.sec {
    margin-top: -50px;
    position: relative;
    padding: 4vh;
    background-image: url("pic/bgg.webp");
    background-color: #34355f;
    position: absolute;
    width: 100%; /* This makes the element stretch across the width */
    background-size: 100% auto;
    overflow: hidden;
    background-repeat: no-repeat;
}
.sec h2 {
    font-size: 4vw;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
}
.sec h3 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.sec p {
    font-size: 2vw;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-family: "000webfont";
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    text-shadow: #111;
}

.menuButton {
    position: relative;
    top: 10%;
    right: 15%;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    padding: 10px 20px;
    background-image: url("pic/midBtn.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    transition: 0.3s;
    font-size: 30%;
}

.menuButtonLong {
    position: relative;
    top: 10%;
    right: 15%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 580px;
    height: 50px;
    padding: 10px 20px;
    background-image: url("pic/longBtn.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    transition: 0.3s;
    font-family: "000webfont";
    color: #fff;
    font-size: 32%;
    font-weight: 300;
}
.playButton {
    margin-top: 25px;
    position: relative;
}

.btn:hover,
.menuButton:hover {
    filter: brightness(0.8);
    transform: scale(1.03);
}
.btn:hover,
.menuButtonLong:hover {
    filter: brightness(0.8);
    transform: scale(1.03);
}
.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.container {
    color: #fff;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically align content */
    align-items: center; /* Align content to the left */
}
.column-text .text-content {
    flex: 1; /* Allow the content to expand vertically */
}

.column-image,
.column-text {
    width: 50%;
    padding-top: 10%;
    font-weight: 300;
}

.column-image img {
    max-width: 100%;
    max-height: auto;
}

.zigzag-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically align content */
    justify-content: space-between; /* Spread content horizontally */
}
.footer-container {
    display: flex;
    flex-direction: column; /* Display as a single column */
    align-items: center; /* Center content horizontally */
}
.custom-font {
    font-family: "000webfont"; /* Use the "000webfont" font family */
    font-size: 3vw; /* Set the font size to 4em */
    text-align: center; /* Center align the text horizontally */
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-height: 420px) {
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .sec h2 {
        font-size: 3vw;
        margin-bottom: 5px;
    }
    .sec h3 {
        font-size: 5vw;
    }
    .custom-font {
        font-size: 3vw;
    }
    #text-wrapper {
        position: absolute;
        top: 15%;
        right: 0%;
    }
    #text {
        white-space: pre-wrap; /* Allow text to wrap */
        line-height: 1.5; /* Reset line-height for wrapped text */
    }
    .mainbg-wrapper {
        z-index: 999;
    }
    .menuButton {
        top: 15%;
        right: 0%;
        width: 40%;
        font-size: 5vw;
        z-index: 999;
    }
    .menuButtonLong {
        top: 15%;
        right: 0%;
        width: 90%;
        font-size: 3.5vw;
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}

@media screen and (max-width: 600px) {
    #header {
        padding: 20px;
    }
    #header ul {
        display: none;
    }
    #header ul.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #2e5a89;
    }
    #header ul li {
        margin-left: 0;
    }
    #header ul li a {
        margin: 5px 0;
        font-size: 1.5em;
        border-radius: 30px;
        display: inline-block;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(pic/menu.webp);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        top: 20px;
        right: 20px;
        background: url(pic/close.webp);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mainbg-wrapper {
        width: calc(100% + 100px); /* Increase the width to accommodate the image movement */
        right: -100px;
    }
    .column-text {
        width: 150%;
    }
    .column-text {
        width: 150%;
    }
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .sec h2 {
        font-size: 3vw;
        margin-bottom: 5px;
    }
    .sec h3 {
        font-size: 5vw;
    }
    .custom-font {
        font-size: 3vw;
    }
    #text-wrapper {
        position: absolute;
        top: 15%;
        right: 0%;
        z-index: 999;
    }
    #text {
        font-size: 18vw;
        white-space: pre-wrap; /* Allow text to wrap */
        line-height: 1.5; /* Reset line-height for wrapped text */
    }
    .menuButton {
        top: 15%;
        right: 0%;
        width: 40%;
        font-size: 8vw;
        z-index: 999;
    }
    .menuButtonLong {
        top: 15%;
        right: 0%;
        width: 90%;
        font-size: 5vw;
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .column-text {
        width: 150%;
    }
    .column-text {
        width: 150%;
    }
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .sec h2 {
        font-size: 3vw;
        margin-bottom: 5px;
    }
    .sec h3 {
        font-size: 5vw;
    }
    #text-wrapper {
        top: 25%;
        right: 0%;
        z-index: 999;
    }
    #text {
        font-size: 80%;
    }
    .menuButton {
        right: 0%;
        bottom: 20%;
        z-index: 999;
    }
    .menuButtonLong {
        right: 0%;
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .column-text {
        width: 150%;
    }
    .column-text {
        width: 150%;
    }
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .sec h2 {
        font-size: 3vw;
        margin-bottom: 5px;
    }
    .custom-font {
        font-size: 3vw;
    }
    .sec h3 {
        font-size: 5vw;
    }
    #text-wrapper {
        right: 0%;
        z-index: 999;
    }
    .menuButton {
        right: 0%;
        bottom: 20%;
        z-index: 999;
    }
    .menuButtonLong {
        right: 0%;
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .column-text {
        width: 150%;
    }
    .column-text {
        width: 150%;
    }
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .sec h2 {
        font-size: 3vw;
        margin-bottom: 5px;
    }
    .custom-font {
        font-size: 3vw;
    }
    .sec h3 {
        font-size: 5vw;
    }
    #text-wrapper {
        right: 5%;
    }
    .menuButton {
        right: 5%;
        bottom: 20%;
        z-index: 999;
    }
    .menuButtonLong {
        right: 5%;
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}

@media screen and (min-width: 1200px) {
    .column-text {
        width: 150%;
    }
    .column-text {
        width: 150%;
    }
    .sec {
        padding: 2vh;
    }
    .sec p {
        font-size: 4vw;
    }
    .custom-font {
        font-size: 3vw;
    }
    .sec h3 {
        font-size: 5vw;
    }
    .sec h3 {
        font-size: 4vw;
    }
    .menuButton {
        z-index: 999;
    }
    .menuButtonLong {
        z-index: 999;
    }
    .notification {
        z-index: 999;
    }
}
